ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: #fff;
}

.blue{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul li{
    cursor: pointer;
}